---
import DynamicHead from '../components/dynamicHead.astro';



const url = new URL(Astro.request.url);
const params = url.searchParams;
const hasResults = params.has('q1');
const ogImageUrl = hasResults 
  ? `${url.origin}/api/og${url.search}`
  : `${url.origin}/default-og.png`;
---

<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    
    <DynamicHead 
      ogImageUrl={ogImageUrl}
      hasResults={hasResults}
    />
  </head>
  <body>
    <div id="debug"></div>

    <script>
      // Get current URL without clearing it
      const currentUrl = window.location.href;
      const debugInfo = {
        url: currentUrl,
        search: window.location.search,
        params: Object.fromEntries(new URLSearchParams(window.location.search)),
        referrer: document.referrer
      };

        
      // document.getElementById('debug').innerHTML = `
      //   <pre>${JSON.stringify(debugInfo, null, 2)}</pre>
      // `;
    </script>
  </body>
</html>